@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Festive&display=swap');

body{
    background-color: #f4ebe0;
    }
    
#rest-img{
    width: 85%;
    height:275px;
    border: 5px solid #c59d5f;
    border-radius:4px;
}

#rest-subtitle{
    font-family: "Dancing Script";
    font-size: x-large;
    font-weight: bold;
    color:#495d70;
    }

.rest-title{
    color:#233b51;
    font-weight:bold;
    border-bottom:1.5px dotted #233b51;
    line-height: 2.5rem;
    letter-spacing: 1.5px;
    font-size: x-large;
}

.icon{
   display: inline-block;
}

.react-tabs__tab{
    background: palegoldenrod !important;
    border-color: #495d70 !important;
}

.react-tabs__tab--selected{
    /* background:#8ba3b9 !important; */
    border-bottom:4px solid mediumspringgreen !important;
}
.fa-star{
    color: rgb(221, 209, 77);
}
#item-id{
    font-size: medium;
    font-weight: bold;
height: 24px;
width: 23px;
background: palegoldenrod;
border-radius: 6px;
display: inline-flex;
}

#item-image{
    height: 110px;
    width: 110px;
    border: 5px solid #c59d5f;
    border-radius: 10px;
}
#item-name{
    color:#233b51;
    font-weight:bold;
    /* border-bottom:1.5px dotted #233b51; */
    line-height: 2.5rem;
    letter-spacing: 1px;
    font-size: large;
}

.fa-shopping-cart{
    color:green;
}
.alert{
    display: none;
    position: fixed;
    top: 0;
    right: 0; 
    z-index: 1000;
}
.my-btn{
    padding: 0.7rem 1rem;
    border-radius: 0;
    width:clamp(100px,200px,200px);
  }