/* ---------Header-----------
.nav-item a:hover {
    color: black !important;
  }
  header {
   
    background-image: linear-gradient(
      to bottom,
      rgb(22, 22, 22),
     rgb(61, 30, 61)
    );
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }
  header a {
    font-weight: 500 !important;
  }
  
  header .nav-item {
    padding: 0.9em;
  }
  header .nav-item a:hover {
   color:#ed9542 !important;
  }
  #heading{
    color:#ed9542;
  }
  .myLogo {
    font-family: "Poppins", sans-serif !important;
    font-size: 30px !important;
    font-weight: bold;
    padding-left: 4rem;
  } */

  .navbar-brand{
    color: orangered !important;
    font-weight: 700;
    font-size: xxx-large;
    letter-spacing: 6px;
  }
  .nav-link{
      /* border:2px solid yellow; */
      color:green !important;
      background: #222;
      margin:2px;
      min-width: 4.5rem !important;
  }
  .nav-item {
    margin-right: 0.5rem;
    background: linear-gradient(to right, red, purple);
    transition:hover 3s ease-in-out;
    
  }
  .nav-link:hover {
    color: lightgray !important;
   }
   .nav-link i:hover {
    color: lightgray !important;
   }

   #name-placeholder{
    background:linear-gradient( rgb(133, 6, 133), red );
    color: transparent;
    background-clip: text;
     font-size:xx-large;
     font-weight:bold;
   }